<%- include('partials/header.ejs'); -%>

<div class="staffList">

    <h2>Staff List</h2>
    <% if (locals.data){ %>
        <% for(let item of data){%>
            <form action="/viewEach" method="post">
                 <div class="staffInfo">
                    <div>
                        <h3><%= item.name %></h3>
                        <p><%= item.designation %></p>
                    </div>
                    <div class="viewBtn">
                        <button id="viewDetails" name="viewDetails" value="<%= item.id %>"  class="btn btn-success"  ><img src="/assets/icons/viewWhite.svg" alt="view" height="30px" width="60px"></button>
                    </div>  
                </div>
            </form> 
            <% } %>
            <form action="/add" method="get" class="buttons">
                <button id="addBtn"><img src="/assets/icons/add.svg" alt="addSvg"  width="50px" height="60px"></button>
            </form>
    <%  }else{ %>
        
        <h2>404</h2>

    <%  } %>

</div>


<%- include('partials/footer.ejs'); -%>

